/* :root {
  --color-yellow-dark: #7c5d00;
  --color-yellow: #FFC107;
  --color-yellow-light: #FFD350;
  --color-yellow-highlight: #fff7df;

  --color-red: #D32F2F;
  --color-green: #28A745;

  --color-blue-dark: #001E3D;
  --color-blue: #002E5D;
  --color-blue-light: #133392;
  --color-blue-semilighter: #ccd2e7;
  --color-blue-lighter: #dbdfeb;
  --color-blue-highlight: #e5eef7;

  --color-white: #FFFFFF;
  --color-grey-light: #F4F6F9;
  --color-grey: #D1D5DB;
  --color-grey-semidark: #a6aaae;
  --color-grey-dark: #707070;
  --color-black: #2D2D2D;

  --shadow: -10px -10px 20px var(--color-black),  10x 10px 20px var(--color-black);

  --color-button-primary: var(--color-yellow);
  --color-button-secondary: var(--color-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-yellow-dark: #b88600;
    --color-yellow: #FFB81C; 
    --color-yellow-light: #fcca34; 
    --color-yellow-highlight: #2c2b20; 

    --color-red: #E57373; 
    --color-green: #81C784; 

    --color-blue-dark: #0d1b2a;
    --color-blue: #1e2a47;
    --color-blue-light: #2a3a67; 
    --color-blue-semilighter: #283155;
    --color-blue-lighter: #212941;
    --color-blue-highlight: #3f649b; 

    --color-white: #13151a; 
    --color-grey-light: #161a24; 
    --color-grey: #424242; 
    --color-grey-semidark: #616161;  
    --color-grey-dark: #757575; 
    --color-black: #dddddd; 

    --shadow: -10px -10px 20px var(--color-white), 10px 10px 20px var(--color-white);
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --color-background-primary: #f4f6f9;
    --color-background-secondary: #ffffff;
    --color-background-tertiary: #e4eaf1;

    --color-text: #2d2d2d;
    --color-text-placeholder: #b3b3b3;

    --color-text-positive: #28a745;
    --color-text-negative: #d32f2f;

    --color-primary: #ffb81c;
    --color-primary-hover: #fcca34;
    --color-primary-accent: #ffe9b3;
    --color-primary-light-background: #fff7df;
    --color-primary-text: #7c5d00;
    --color-primary-border: #c7a338;

    --color-secondary: #e3e6ee;
    --color-secondary-hover: #d3d7e2;
    --color-secondary-accent: #dfebf7;
    --color-secondary-light-background: #e5eef7;
    --color-secondary-text: #1f4a75;
    --color-secondary-border: #6384a1;

    --color-disabled-background: #e4eaf1;
    --color-disabled-text: #a0aab3;
    --color-disabled-border: #ced2d8;

    --color-border: #e4eaf1;

    /* Button colors */
    --color-button-primary-background: var(--color-primary);
    --color-button-primary-text: var(--color-text);
    --color-button-primary-background-hover: var(--color-primary-hover);
    --color-button-primary-text-hover: var(--color-text);

    --color-button-secondary-background: var(--color-secondary);
    --color-button-secondary-text: var(--color-text);
    --color-button-secondary-background-hover: var(--color-secondary-hover);
    --color-button-secondary-text-hover: var(--color-text);

    --color-button-disabled-background: var(--color-disabled-background);
    --color-button-disabled-text: var(--color-disabled-text);

    /* Form colors */
    --color-form-background-empty: var(--color-background-secondary);
    --color-form-text-empty: var(--color-text-placeholder);
    --color-form-border-empty: var(--color-border);

    --color-form-background-hover: var(--color-secondary-light-background);
    --color-form-text-hover: var(--color-secondary-text);
    --color-form-border-hover: var(--color-secondary-border);

    --color-form-background-filled: var(--color-primary-light-background);
    --color-form-text-filled: var(--color-primary-text);
    --color-form-border-filled: var(--color-primary-border);

    --color-form-disabled-background: var(--color-disabled);

    --color-shadow: #afafaf;
    --shadow: 0 4px 12px var(--color-shadow), 0 8px 20px var(--color-shadow);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: #161a24;
    --color-background-secondary: #13141a;
    --color-background-tertiary: #1b2430;

    --color-text: #e7e7e7;
    --color-text-placeholder: #858585;

    --color-text-positive: #28a745;
    --color-text-negative: #d32f2f;

    --color-primary: #ffc107;
    --color-primary-hover: #fcca34;
    --color-primary-accent: #463c20;
    --color-primary-light-background: #2b281b;
    --color-primary-text: #af8300;
    --color-primary-border: #f1d98f;

    --color-secondary: #1e2a47;
    --color-secondary-hover: #233358;
    --color-secondary-accent: #182736;
    --color-secondary-light-background: #172230;
    --color-secondary-text: #4681bb;
    --color-secondary-border: #4d7aa1;

    --color-disabled-background: #13151a;
    --color-disabled-text: #333538;
    --color-disabled-border: #252627;

    --color-border: #1b2430;

    /* Button colors */
    --color-button-primary-background: var(--color-primary);
    --color-button-primary-text: #13151a;
    --color-button-primary-background-hover: var(--color-primary-hover);
    --color-button-primary-text-hover: #13151a;

    --color-button-secondary-background: var(--color-secondary);
    --color-button-secondary-text: var(--color-text);
    --color-button-secondary-background-hover: var(--color-secondary-hover);
    --color-button-secondary-text-hover: var(--color-text);

    --color-button-disabled-background: var(--color-disabled-background);
    --color-button-disabled-text: var(--color-disabled-text);

    /* Form colors */
    --color-form-background-empty: var(--color-background-secondary);
    --color-form-text-empty: var(--color-text-placeholder);
    --color-form-border-empty: var(--color-border);

    --color-form-background-hover: var(--color-secondary-light-background);
    --color-form-text-hover: var(--color-secondary-text);
    --color-form-border-hover: var(--color-secondary-border);

    --color-form-background-filled: var(--color-primary-light-background);
    --color-form-text-filled: var(--color-primary-text);
    --color-form-border-filled: var(--color-primary-border);

    --color-form-disabled-background: var(--color-disabled);

    --color-shadow: #0a0a0a;
    --shadow: 0 4px 12px var(--color-shadow), 0 8px 20px var(--color-shadow);

    .light-dark-mode img {
      filter: brightness(0) invert(1);
    }
  }
}
