.button {
    max-width: fit-content;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: var(--text-button);
    border-radius: 1rem;
    padding-inline: 4rem;
    padding-block: 1rem;
    transition: all 0.2s ease;
}

.button-primary {
    background-color: var(--color-button-primary-background); 
    color: var(--color-button-primary-text);
}

.button-primary:hover {
    background-color: var(--color-button-primary-background-hover); 
    color: var(--color-button-primary-text-hover);
}

.button-secondary {
    background-color: var(--color-button-secondary-background); 
    color: var(--color-button-secondary-text);
}

.button-secondary:hover {
    background-color: var(--color-button-secondary-background-hover); 
    color: var(--color-button-secondary-text-hover);
}

.button-disabled, .button-disabled:hover {
    cursor: default; 
    background-color: var(--color-button-disabled-background) !important;
    color: var(--color-button-disabled-text) !important; 
}






.button-card {
    max-width: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid var(--color-form-border-empty); 
    background-color: var(--color-form-background-empty); 
    color: var(--color-form-text-empty); 
    font-weight: 300; 
    font-size: var(--text-3);
    padding-inline: 0px;
}

.button-card:hover {
    border: 1px solid var(--color-secondary-border); 
    background-color: var(--color-secondary-light-background); 
    color: var(--color-form-text-hover);
}

.button-card.active {
    border: 1px solid var(--color-form-border-filled); 
    background-color: var(--color-form-background-filled); 
    color: var(--color-form-text-filled);
}

.button-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-2);
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-form-background-empty);
    min-width: 4.2rem !important;
    height: 4.2rem !important;
    transition: all 0.2s ease;
}

.button-icon:hover {
    color: var(--color-form-text-hover);
    background-color: var(--color-form-background-hover);
    border: 1px solid var(--color-form-border-hover);
}