html {
  font-family: "Roboto Serif", serif;
  font-size: 62.5%;
}

* {
  text-decoration: none;
}

@media (min-width: 800px) {
  :root {
    --heading: 4.8rem;
    --subheading: 3.6rem;

    --text-1: 2.4rem;
    --text-2: 2.0rem;
    --text-3: 1.6rem;
    --text-4: 1.2rem;

    --text-button: 1.4rem;
    --text-error: 1.2rem;
    --text-chat: 1.4rem;
  }
}

@media (max-width: 800px) {
  :root {
    --heading: 4.2rem;
    --subheading: 3.0rem;

    --text-1: 2.0rem;
    --text-2: 1.6rem;
    --text-3: 1.4rem;
    --text-4: 1.2rem;

    --text-button: 1.6rem;
    --text-error: 1.4rem;
    --text-chat: 1.6rem;
  }
}

.heading {font-size: var(--heading); font-weight: 700; color: var(--color-text)}
.subheading {font-size: var(--subheading); font-weight: 700; color: var(--color-text)}

.text-1 {font-size: var(--text-1); line-height: 150%;}
.text-2 {font-size: var(--text-2); line-height: 150%;}
.text-3 {font-size: var(--text-3); line-height: 150%;}
.text-4 {font-size: var(--text-4); line-height: 150%;}

.text-button {font-size: var(--text-button);}
.text-chat {font-size: var(--text-chat); line-height: 150%;}
.text-error {font-size: var(--text-error); color: var(--color-text-negative); font-weight: 700;}

.text-center {text-align: center;}
.text-bold {font-weight: 700;}
.text-overflow {
  white-space: nowrap;     /* Prevent text from wrapping */
  overflow: hidden;        /* Hide the overflowed text */
  text-overflow: ellipsis; /* Show ellipsis when text overflows */
}

.text-link *,
.text-link {
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.2s ease;
}
  
.text-link:hover *,
.text-link:hover {
  color: var(--color-secondary-text);
}

.text-link.encouraged:hover *,
.text-link.encouraged:hover {
  color: var(--color-secondary-text);
}

.text-link.discouraged:hover,
.text-link.discouraged:hover  * {
  color: var(--color-text-negative);
}

.text-link-accent {
  color: var(--color-primary);
}

.text-inter {
  font-family: 'Inter', sans-serif;
}