html {
  font-family: "Roboto Serif", serif;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: contain;
}


html::-webkit-scrollbar {display: none;}

body {
  margin: 0;
  overflow-y: scroll;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  color: var(--color-black);
}

ul {
  margin: 0;
  padding-left: 2rem;
}

:root {
  --color-yellow: #FFC107;
  --color-yellow-light: #FFD350;
  --color-yellow-highlight: #fff7df;

  --color-red: #D32F2F;
  --color-green: #28A745;

  --color-blue-dark: #001E3D;
  --color-blue: #002E5D;

  --color-white: #FFFFFF;
  --color-grey-light: #F4F6F9;
  --color-grey: #D1D5DB;
  --color-grey-semidark: #a6aaae;
  --color-grey-dark: #707070;
  --color-black: #2D2D2D;

  --shadow: -10px -10px 20px var(--color-black),  10x 10px 20px var(--color-black);
}

hr {
  border: none;
}

.display {
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

/* .vignette {box-shadow: inset 0 0 40px 20px var(--color-grey);} */
.shadow {box-shadow: 0px 0px 40px var(--color-grey)}
.shadow-wide {box-shadow: 0px 0px 200px 2px var(--color-grey);}

@media (min-width: 800px) {
  :root {
    --heading: 4.8rem;
    --subheading: 3.6rem;

    --text-1: 2.4rem;
    --text-2: 2.0rem;
    --text-3: 1.6rem;
    --text-4: 1.2rem;

    --text-button: 1.4rem;
    --text-error: 1.2rem;
    --text-chat: 1.4rem;
  }
}

@media (max-width: 800px) {
  :root {
    --heading: 4.2rem;
    --subheading: 3.0rem;

    --text-1: 2.0rem;
    --text-2: 1.6rem;
    --text-3: 1.2rem;
    --text-4: 1.0rem;

    --text-button: 1.4rem;
    --text-error: 1.2rem;
    --text-chat: 1.2rem;
  }
}

.heading {font-size: var(--heading); font-weight: 700; color: var(--color-black)}
.subheading {font-size: var(--subheading); font-weight: 700; color: var(--color-black)}

.text-1 {font-size: var(--text-1); line-height: 150%;}
.text-2 {font-size: var(--text-2); line-height: 150%;}
.text-3 {font-size: var(--text-3); line-height: 150%;}
.text-4 {font-size: var(--text-4); line-height: 150%;}

.text-button {font-size: var(--text-button);}
.text-chat {font-size: var(--text-chat); line-height: 150%;}
.text-error {font-size: var(--text-error); color: var(--color-red); font-weight: 700;}

.text-center {text-align: center;}
.text-bold {font-weight: 700;}
.text-overflow {
  white-space: nowrap;     /* Prevent text from wrapping */
  overflow: hidden;        /* Hide the overflowed text */
  text-overflow: ellipsis; /* Show ellipsis when text overflows */
}

.text-link *,
.text-link {
  cursor: pointer;
  transition: all 0.2s ease;
}

.text-link:hover *,
.text-link:hover {
  color: var(--color-yellow);
}

.text-link.encouraged:hover *,
.text-link.encouraged:hover {
  color: var(--color-yellow);
}

.text-link.discouraged:hover,
.text-link.discouraged:hover  * {
  color: var(--color-red);
}

.policy a {
  text-decoration: underline;
}

.text-inter {font-family: 'Inter', sans-serif;}

code {
  white-space: pre-wrap; /* Allows wrapping of long lines */
  word-wrap: break-word; /* Breaks long words if necessary */
  overflow-wrap: break-word; /* Modern equivalent of word-wrap */
  display: inline-block; /* Makes the code element behave like a block */
  max-width: 100%; /* Prevents overflow from the container */
}

.gap-05 {gap: .5rem;}
.gap-1 {gap: 1rem;}
.gap-2 {gap: 2rem;}
.gap-4 {gap: 4rem;}
.gap-8 {gap: 8rem;}
.gap-200 {gap: 20rem;}

.flex-column {display: flex; flex-direction: column;}
.flex-row {display: flex; flex-direction: row;}
.flex-1 {flex: 1;}

.space-between {justify-content: space-between;}

.absolute {position: absolute;}
.relative {position: relative;}

.center {justify-content: center; align-items: center;}

.width-100 {width: 100%;}
.height-100 {height: 100%;}
.height-100vh {height: 100vh;}

.vertical-line {
  border-left: 2px solid var(--color-grey);
  height: 100%;
  padding-left: 2rem;
}

.vertical-line-thin {
  border-left: 1px solid var(--color-grey);
  height: 100%;
  padding-left: 2rem;
}


.card {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 2rem;
  padding: 2rem;
}

.card-clickable {
  transition: all .3s ease;
}

.card-clickable:hover {
  border: 1px solid var(--color-yellow);
  box-shadow: inset 0px 0px 0px 2px var(--color-yellow);
  background-color: var(--color-yellow-highlight);
  cursor: pointer;
}

.card-nested {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid transparent;
}

.card-nested.active {
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey);
}

.card-component {
  position: absolute;
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-component-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  max-width: fit-content;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: var(--text-button);
  border-radius: 1rem;
  padding-inline: 4rem;
  padding-block: 1rem;
  transition: all 0.2s ease;
}

.button-disabled {cursor: default; background-color: var(--color-grey) !important;}

.button-primary {background-color: var(--color-yellow); color: var(--color-black)}
.button-primary:hover {background-color: var(--color-yellow-light); color: var(--color-black)}
.button-secondary {background-color: var(--color-blue); color: var(--color-grey-light)}
.button-secondary:hover {background-color: var(--color-blue-dark); color: var(--color-grey-light)}

.button-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--text-2);
  border-radius: 1rem;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
  min-width: 4.2rem !important;
  height: 4.2rem !important;
  transition: all 0.2s ease;
}

.button-icon:hover {
  /* color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  box-shadow: inset 0px 0px 0px 2px var(--color-yellow); */
  background-color: var(--color-yellow-highlight);
  border: 1px solid var(--color-yellow);
}

.icon-link {
  transition: all 0.2s ease;
}

.icon-link:hover {
  color: var(--color-yellow);
}

.input {
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 4.2rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 1rem;
  max-width: 50rem;
  box-sizing: border-box;
  font-size: var(--text-3);
  transition: all 0.2s ease;
}

input[type="text"],
input[type="email"],
input[type="password"]
{font-size: var(--text-3)}

.input:focus,
.input:hover,
.input:active {
  outline: none;
  font-size: var(--text-3);
  border: 1px solid var(--color-yellow);
  /* box-shadow: inset 0px 0px 0px 2px var(--color-yellow); */
  background-color: var(--color-yellow-highlight)
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  font-size: var(--text-3);
  font-family: 'Inter', sans-serif !important;
  -webkit-text-fill-color: var(--color-grey-dark);
   transition: background-color 5000s ease-in-out 0s, box-shadow 0.3s ease !important;
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  font-size: var(--text-3);
  font-family: 'Inter', sans-serif !important;
  background-color: var(--color-yellow-highlight);
  -webkit-text-fill-color: var(--color-grey-dark);
  /* box-shadow: inset 0px 0px 0px 2px var(--color-yellow);  */
  border: 1px solid var(--color-yellow);
  font-size: var(--text-3);
}

select {
  appearance: none; /* For Chrome, Safari, Edge */
  -moz-appearance: none; /* For Firefox */
  -webkit-appearance: none; /* For Safari */
  width: 100%;
}

select option {
  background: var(--color-white)
}

.faq-question {
  cursor: pointer;
  margin-bottom: 2rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px); /* Adjust the value as needed */
}

.z-10 {z-index: 10;}
.z-15 {z-index: 15;}
.z-17 {z-index: 17;}
.z-20 {z-index: 20;}
.z-25 {z-index: 25;}
.z-30 {z-index: 30;}
.z-40 {z-index: 40;}



.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



@media (min-width: 800px) {
  .show-on-small {display: none}
  .card-size-profile {max-width: 36rem}
  .card-size-confirm {max-width: 34rem}
  .card-size-success, .card-size-error {max-width: 32rem}
}
@media (max-width: 800px) {
  .show-on-large {display: none}
  .switch-row-to-column {flex-direction: column !important;}
  .card-size-profile {max-width: 28rem}
  .card-size-confirm {max-width: 26rem}
  .card-size-success, .card-size-error {max-width: 24rem}
}





.chat-container {
  /* background: var(--color-white); */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Edge, and Safari */
.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-message-user {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-grey);
  max-width: 75%;
}

.chat-message-assistant {
  padding-top: 1rem;
  max-width: 75%;
}

.chat-message-assistant > * {
  margin: 0;
}

/* .chat-message-assistant > :first-child {
  margin-top: 0;
} */

.chat-message-assistant > :last-child {
  margin-bottom: 1rem;
}

.chat-input {
  width: 100%;
  max-height: 20rem;   /* Set the maximum height */
  overflow: hidden;    /* Hide scrollbars */
  line-height: 1.5;    /* Adjust line height for better spacing */
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: 1px solid var(--color-grey);
  overflow-y: auto;  /* Keep scrolling enabled */
  box-sizing: border-box;
  overflow-wrap: break-word; /* Prevent long words from overflowing */
  white-space: pre-wrap; /* Preserve line breaks and white spaces */
}

.chat-input.active,
.chat-input:focus {
  outline: none;
}

.chat-input::-webkit-scrollbar { display: none; }

.filing-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

.filing-html {
  width: 100%;
  overflow: scroll
}

.filing-html::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px;
}

.filing-html::-webkit-scrollbar-track {
  background: var(--color-grey-light); /* Background of the scrollbar track */
  border-radius: 4px; /* Optional: rounded edges for the thumb */
}

.filing-html::-webkit-scrollbar-thumb {
  background: var(--color-grey); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Optional: rounded edges for the thumb */
}

.filing-html::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey); /* Color of the thumb on hover */
}


.sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  padding-right: 0.5rem;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-grey);
  transition: transform  0.3s ease; /* Smooth transition */
  overflow-x: hidden;
}

.chat-history {
  /* max-height: 50vh; */
  overflow-y: auto;
  flex-grow: 1;
}

.chat-history-element {
  background-color: var(--color-grey-light);
  border-radius: .5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.chat-history-element:hover,
.chat-history-element.active {
  background-color: var(--color-yellow-highlight);
  border-radius: .5rem;
  cursor: pointer;
}

.chat-history-element .fa-trash-can {
  opacity: 0.6; /* Default visibility */
  transition: opacity 0.2s;
}

.chat-history-element:hover .fa-trash-can,
.chat-history-element.active .fa-trash-can {
  opacity: 1; /* Fully visible on hover or active */
}

.chat-history::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat-history::-webkit-scrollbar-track {
  background: var(--color-grey-light); /* Background of the scrollbar track */
  border-radius: 4px; /* Optional: rounded edges for the thumb */
}

.chat-history::-webkit-scrollbar-thumb {
  background: var(--color-grey); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Optional: rounded edges for the thumb */
}

.chat-history::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey); /* Color of the thumb on hover */
}


@media (min-width: 800px) {
  .padding-sidebar-dashboard {padding-left: 18rem !important;}
  .sidebar {left: 0}
  .chat-container {
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    padding: 2rem;
    border-radius: 1rem;
  }
  .filing-container {
    border: 1px solid var(--color-grey);
    border-radius: 1rem;
  }
  .chat-message-user {
    background-color: var(--color-grey-light);
  }
}

@media (max-width: 800px) {
  .sidebar {
    right: 0;
    border-left: 1px solid var(--color-grey);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  .chat-container {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey);
    padding-bottom: 2rem;
    padding-top: 7rem;
    padding-inline: 2rem;
  }
  .filing-container {border-bottom: 1px solid var(--color-grey);}
  .filing-html {scrollbar-width: none;}
  .filing-html::-webkit-scrollbar {display: none;}
  .chat-message-user {
    background-color: var(--color-grey-light);
  }
}

.bot-image {
  height: 4rem; 
  aspect-ratio: 1;
}


/* For Chrome, Safari, and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Optional: For Internet Explorer */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
}